
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    background: rgb(245,245,245) ;
    margin:200px auto;
}
.main .logo{
    font-size: 90px;
    color: rgb(229,217,216);
    font-family: Helvetica ;
    font-weight: lighter;

}

.eventBoard{
    font-size: 40px;
    color: black;
    font-weight: lighter;
    width: 600px;
    background-color: white;
}

.eventBlock{
    border: 1px black solid;
    height: 70px;
    width: 600px;
    background-color: aqua;
}
.bottomBorder input{
    margin-left: 95px;
    height: 65px;
    width: 500px;
}
.showSelectClearItems{
    height: 35px;
    width: 600px;
    background-color: gray;
    border: black solid;
}